body {
  background-color: #333;
}

#main {
  background-color: #eee;
  margin: 10;
  padding-left: 0;
}

#portrait img {
  float: left;
  margin: 0 50px 30px 0;
}

h1 {
  padding-top: 30px;
}

section {
  clear: both;
}

#card, #speechesInEachYear, #recentSpeeches {
  border: ridge 4px #ccc;
  margin: 10px 30px;
  padding: 5px 10px;
}

ul li {
  list-style-type: none;
}
